# Data Science Tools and Ecosystemm

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python  
2. R  
3. SQL  
4. Julia

**Objectives:**

- List popular languages for Data Science
- Identify commonly used libraries in Data Science
- Demonstrate use of Jupyter Notebook for arithmetic expressions
- Create and format tables using Markdown
- Understand tools used in Data Science

Some of the commonly used libraries used by Data Scientists include:

1. Pandas  
2. NumPy  
3. Matplotlib  
4. Scikit-learn

| Data Science Tools       |
|--------------------------|
| Jupyter Notebook         |
| RStudio                  |
| Apache Zeppelin          |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [4]:
# This is a simple arithmetic expression to multiply then add integers
(3 * 4) + 5

17

In [7]:
# This will convert 200 minutes to hours by dividing by 60
200 / 60

3.3333333333333335

## Author

Krethe Vandhana M